body,html{
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    font-family: "微软雅黑";
}

/* 整体居中 */
.container_box{
    margin: 0px auto;
    width: 1140px;
    position: relative;
}

/* 收藏 */
.collect_box{
    background: rgb(227, 224, 224);
    height: 35px;
    line-height: 35px;
}

.collect_box .collect_left{
    float: left;
}
.collect_box .collect_right{
    overflow: hidden;
    float: right;
}
.collect_box .collect_right input{
    width: 140px;
    height: 31px;
    line-height: 31px;
    background-color: #575656;
    margin: 0px;
    padding:2px;
    border: none;  /*边距清空*/
    outline: none;
    padding-left: 12px;
    display: block;
    float: left;
}

.collect_box .collect_right .search_btn{
    float: right;
    background: #575656;
    cursor: pointer;
    margin-top: 0px;
    height: 35px;
    width: 30px;
    margin-left: 1px;
    text-align: center;
}

/* 导航栏样式 */
.logo_box{
    height: 220px;
}

.logo_box .logo{
    float: left;
}

.logo_box .logo h1{
    padding: 0;
    margin: 0;
}

.logo_box .nav{
    position: absolute;
    top: 40px;
    right: 0px;
}

.logo_box ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.logo_box ul li{
    float: left;
    width: 80px;
    color: black;
    text-align: center;
    padding: 0px;
    margin: 0px;  
}

.logo_box ul li a{
    text-decoration: none;
    display: block;
}

.logo_box ul li ul li a{
    background-color: #dcdc93;
}

.logo_box ul li ul{
    display: none;
    text-align: inherit;
}

.logo_box ul li:hover ul{
    display: block;
}

.logo_box .nav a{
    text-decoration: none;
    padding: 5px 10px;
    color: black;
}

/* 鼠标放着的时候标签的样式 */
.logo_box .nav a:hover{
    color: white;
    padding: 5px 10px;
    background-color: #19B4EA;

}

.logo_box .nav .active{
    color: white;
    padding: 5px 10px;
    background-color: #19B4EA;
}


/* 公司简介 */
.intro_box{
    padding: 40px 0px;
    height: 250px;
}

/* 1140px(总宽度)- 350px（公司图片宽度） -10px（外边距） */
.intro_box .intro_left{
    float: left;
    width: 350px;
    margin-right: 10px;
}

.intro_box .intro_right{
    float: right;
    width: 770px;
    padding-left: 10px;
}

.intro_box .intro_right p{
    line-height: 30px;
}

.intro_box .intro_right a{
    border: 1px solid #999;
    text-decoration: none;
    padding: 5px 10px;
    color: #19B4EA;
    background: white;
}

.intro_box .intro_right a:hover{
    background-color: #19B4EA;
    color: white;
}

.intro_box .intro_left img{
    height: 230px;
    width: 350px;
}


/* 产品简介 */
.product_box{
    clear: both;   /*割弃上面元素的联系*/
    height: 500px;
}

.product_box .product_list{
    height: 337px;
}

.product_box .product_title{
    text-align: center;
    padding: 10px 0px;
    margin: 0px;
}

.product_box .product_subtitle{
    text-align: center;
    color: #999;

}

.product_box .product_list .product{
    padding: 30px;
    width: 25%;
    float: left;
    box-sizing: border-box;
    text-align: center;
    display: block;
    text-decoration: none;
    color: #333;
}

.product_box .product_list .product .product_name{
    font-size: 18px;
    margin-bottom: 8px;
}

.product_box .product_list .product .product_price{
    font-size: 15px;
    color: red;
}

.product_box .product_list .product .product_img img{
    width: 100%;
}

.product_box .showmore{
    text-align: center;
}

.product_box .showmore a{
    border: 1px solid #999;
    text-decoration: none;
    padding: 5px 10px;
    color: #19B4EA;
    background: white;
}

.product_box .showmore a:hover{
    background-color: #19B4EA;
    color: white;
}


/* 新闻中心 */
.news_box{
    clear: both;
    height: 530px;
    padding: 30px 0pxkl,;
}

.news_box .product_title{
    text-align: center;
    padding: 10px 0px;
    margin: 0px;
}

.news_box .product_subtitle{
    text-align: center;
    color: #999;
    padding-bottom: 25px;
}

.news_box .news_subbox{
    height: 405px;
}

.news_box .news_subbox .news_left{
    width: 420px;
    margin: 0px 10px;
    float: left;
}

.news_box .news_subbox .news_left .news_big_img{
    width: 100%;
}

.news_box .news_subbox .news_left .news_big_img img{
    width: 100%;
}

.news_box .news_subbox .news_right{
    float: left;
    width: 700px;
}

.news_box .showmore{
    clear:both;
    width: 100%;
    text-align: center;
    margin-top: 35px;
}

.news_box .showmore a{
    border: 1px solid #999;
    text-decoration: none;
    padding: 5px 10px;
    color: #19B4EA;
    background: white;
}

.news_box .showmore a:hover{
    background-color: #19B4EA;
    color: white;
}

.news_box .news_item{
    height: 100px;
    margin-top: 5px;
    text-decoration: none;
    color: #333;
    display: block;
}

.news_box .news_item .date_box{
    float: left;
    width: 80px;
    height: 80px;
    margin-right: 10px;
    background-color: #bcbcbc;
}

.news_box .news_item .date_box .day{
    background: #f0f09e;
    text-align: center;
    font-size: 30px;
    line-height: 53px;
}

.news_box .news_item .date_box .year_month{
    background: rgb(237, 237, 86);
    height: 28px;
    line-height: 28px;
    text-align: center;
}

.news_box .news_info{
    float: left;
    width: 330px;
}

.news_box .ritem .news_info{
    width: 610px;
}

.news_box .news_title{
    font-weight: bold;
}

.news_box .news_intro{
    line-height: 24px;
    color: #666;
}


/* 底部 */
.footer_box{
    background: rgb(236, 236, 236);
    padding: 35px;
}

.footer_box .website_nav{
    float: left;
    margin-bottom: 35px;
}

.footer_box .website_1{
    float: left;
    width: 800px;
}

.footer_box .website_1 dl{
    padding: 0;
    margin: 0;
    float: left;
    padding: 0px 62px;
}

.footer_box .website_1 dl dt{
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
} 

.footer_box .website_1 dl dt a{
    text-decoration: none;
    color: black;
}

.footer_box .website_1 dl dd{
    padding: 0;
    margin: 10px 0px;
    font-size: 16px;
}

.footer_box .website_1 dl dd a{
    color: #333;
    text-decoration: none;
}

.footer_box .website_2{
    float: left;
    width: 130px;
    margin: 0px 10px;
}

.footer_box .website_2 .qrcode{
    width: 100%;
}

.footer_box .website_2 .qrcode img{
    width: 100%;
}

.footer_box .website_2 .qrcode_tit{
    text-align: center;
}

.footer_box .website_3{
    float: left;
    width: 190px;
    text-align: center;
}

.footer_box .website_3 .mobile_number{
    color: #19B4EA;
    font-size: 21px;
    font-weight: bold;
}

.footer_box .website_3 .email a{
    text-decoration: none;
    font-size: 17px;
    color: #1bbdc0;
}



.footer_box .powered_by{
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.footer_box .powered_by a{
    text-decoration: none;
    color: #9c32da;
}

.swiper{
    width: 100%;
    height: 400px;
}